.delete{
    color: red !important;
    font-size: 1.5em;
}

.edit{
    color: #00A0C5 !important;
    font-size: 1.5em;
}

fa-icon{
    font-size: 1.5em;
}

.excelIcon{
    color: #1F6E43;
}

.csvIcon{
    color: #96C3F7;
}

td{
    tr{
        td{
            // border-bottom: 11px solid #ff000d;
        }
    }
  }