.delete{
    color: red !important;
    font-size: 1.5em;
}

.edit{
    color: #00A0C5 !important;
    font-size: 1.5em;
}

// fa-icon{
//     font-size: 1.5em;
// }

.excelIcon{
    color: #1F6E43;
    font-size: 1.5em;

}

.csvIcon{
    color: #96C3F7;
    font-size: 1.5em;

}

.crossIcon{
    color: #dc3545 ;
    font-size: 5em;
}

// .cancel{
//     background-color: gray;
// }

// .delete{
//     background-color: red;
// }

td{
    tr{
        td{
            // border-bottom: 11px solid #ff000d;
        }
    }
  }