<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Question</th>
        <th scope="col">Option 1</th>
        <th scope="col">Option 2</th>
        <th scope="col">Option 3</th>
        <th scope="col">Option 4</th>
        <th scope="col">Answer</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let info of data.userDB.admin.questions| filter: search:'question'; let i = index">
        <!-- | filter: search:'name' -->
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{info.question}}</td>
        <td>{{info.option1}}</td>
        <td>{{info.option2}}</td>
        <td>{{info.option3}}</td>
        <td>{{info.option4}}</td>
        <td>Option {{info.answer}}</td>
        <td>
            <button class="btn"><i class="fa fas fa-edit edit"></i></button> 
            <button class="btn"><i class="fa fa-trash delete"></i></button>
        
        </td>
      </tr>
    </tbody>
  </table>