.text-center {
    text-align: center !important;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

//   bgColor{
//     background-color: #f5f5f5;
//   }

.imgSize{
  width:16rem;
   height:6rem;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

fa-icon{
  font-size: 5rem;
  color: #DF0E0ECC;
}