<!-- <nav class="navbar  navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed top</a>
    </div>
  </nav> -->
  <div class="row bg-danger bg-gradient ">
      <div class="col center text-center">
          <h2 class="m-3 fs-4 text-white">Exam List</h2>
      </div>
  </div>
<div class="row m-3">
    <div class="col-12" *ngFor="let item of data.userDB.admin.exam">
        <div class="card mb-3 shadow-lg rounded bg-white">
            <div class="card-body">
                <h5 class="card-title fs-4 text-center">{{item.examName | titlecase}}</h5>
                <div class="row text-center">
                    <div class="col">
                        <button class="btn" >
                            <i class="fa fas fa-edit edit" (click)="editExam(item.examId)"></i>
                        </button>
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#examDeleteModal" (click)="getExamId(item.examId)">
                            <i class="fa fa-trash delete"></i>
                        </button>

                        <div class="modal fade center" id="examDeleteModal" tabindex="-1" aria-labelledby="examDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div> -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col" align="right">
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                  </div>
                                  <div class="row text-center">
                                    <div class="col">
                                      <h2 class="text-center fs-2">Are you sure?</h2>
                                      <h5 class=" text-black-50 fs-3">Do you want to delete this Exam?</h5>
                                    </div>
                                  </div>
                                  <div class="row center my-4">
                                    <div class="col center" align="right">
                                      <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                                    </div>
                                    <div class="col">
                                      <button type="button" class="btn btn-danger btn-lg" (click)="deleteExam()">Delete</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
               
            </div>
          </div>
    </div>
</div>

<div class="toast toast6 align-items-center text-white bg-success border-0 position-absolute top-0 end-0 p-1 m-2"
role="alert" aria-live="assertive" aria-atomic="true">
<div class="d-flex">
  <div class="toast-body">
    Exam Deleted.
  </div>
  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
    aria-label="Close"></button>
</div>
</div>