<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
  <!-- sticky-top -->
    <div class="container-fluid">
      <a class="navbar-brand fs-3 fw-bolder font-monospace" href="#">Admin Panel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul> -->
        <!-- <ul> -->
          <!-- <li class="nav-item"> -->
            <!-- <ul class="navbar-nav me-auto mb-2 "> -->
              <!-- <form class="d-flex">
                <input class="form-control me-2" size="50" name="search"
                [(ngModel)]="search" type="search" placeholder="Search" aria-label="Search" (keyup)="searchData()">
              </form> -->

            <!-- </ul> -->
          <!-- </li> -->
        <!-- </ul> -->
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
          <!-- <li class="nav-item"> -->
              
            <!-- </li> -->
            <!-- </ul> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item"> -->
          <!-- <button class="btn btn-success" (click)="addNewItem()">Add Question</button> -->
            
          <!-- </li> -->
          
        </ul>
        <form class="d-flex mx-1">
          <input class="form-control me-2" size="50" name="search"
          [(ngModel)]="search" type="search" placeholder="Search" aria-label="Search" (keyup)="searchData()">
        </form>
        <button class="btn btn-warning mx-1"  (click)="exam()">Add Exam</button>
        <!-- data-bs-toggle="modal" data-bs-target="#createExamModal"s -->
        <button class="btn btn-success  mx-1" (click)="addNewItem()">Add Question</button>


        <button class="btn btn-outline-danger  mx-1" (click)="signOut()">Sign Out</button>

      </div>
    </div>
  </nav>


  <div class="modal fade" id="createExamModal" tabindex="-1" aria-labelledby="createExamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark bg-gradient text-white">
          <span class="fs-4">Create Exam</span>
            <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
         <!-- <h1>jhj</h1> -->
         <app-add-exam [examId]="editExamId" ></app-add-exam>
        </div>
      </div>
    </div>
  </div>

  <div class="toast toast5 align-items-center text-white bg-success border-0 position-absolute top-0 end-0 p-1 m-2"
  role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
        
        {{ editExamId == '' ? 'Exam Created' : 'Updated' }}
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>
</div>

<div class="toast toast7 align-items-center text-white bg-success border-0 position-absolute top-0 end-0 p-1 m-2"
role="alert" aria-live="assertive" aria-atomic="true">
<div class="d-flex">
  <div class="toast-body">
      Signed Out
  </div>
  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
    aria-label="Close"></button>
</div>
</div>