<div class="row">
    <div class="col">
        <app-navbar (newItemEvent)="addItem($event)" (searchKey)="searchKey($event)" [editExamId]="editExamId" ></app-navbar>
    </div>
</div>
<div class="row bg-white m-2 my-3">
    <div class="card shadow-lg rounded bg-white col-12 col-sm-3 sidebarBGColor mt-5  bg-gradient ">
     <app-sidebar (exam)="editExam($event)" ></app-sidebar>
    </div>
    <div class="col-12 col-sm-9 mt-5">
        <div class="row" *ngIf="addQuestionButton">
            <div class="col m-2 card shadow-lg rounded bg-white">
                <app-add-question [questionId]="editQuestionId" (reloadFlag)="reload($event)"  ></app-add-question>
            </div>
        </div>
        <div class="row bg-white m-2">
            <div class="col card shadow-lg rounded bg-white">
                <app-table [search]="search" (questionId)="questionId($event)" [reload]="reloadFlag"></app-table>
            </div>
        </div>
    </div>
</div>