html , body{
    width: 100% !important;
    overflow-x: hidden !important;
}


.sidebarBGColor{
    border-style: solid;
    // border-radius: 500px;
  border-width: 1px;
    // background-color: #8f9a9a;
    // border-radius: 2px;

}